$color-prime: #d22856;
$color-second: #283645;
$color-bg-even: #f2f2f2;
$color-field-border: #e5e5e5;

$fz-main: 14px;
$lh-main: 30px;
$font-main: "Open Sans", "Arial", sans-serif;

$tablet-width: 660px;
$desctop-width: 980px;
