.banner {
  margin-top: -70px;
  padding-top: 95px;
  padding-bottom: 80px;

  color: #ffffff;
  font-family: $font-main;
  font-weight: 300;
  font-size: $fz-main;
  line-height: 24px;

  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

  @media (min-width: $tablet-width) {
    margin-top: -110px;
    padding-top: 180px;
    padding-bottom: 140px;

    font-size: 18px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 100px;
    font-size: 18px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  &--index {
    padding-top: 495px;
    padding-bottom: 30px;

    background-image:
      url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
    background-position:
      left 176px,
      center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/iphone-hand-mobile@2x.png"),
        url("../img/bg-back-mobile@2x.jpg");
      background-size:
        258px auto,
        700px auto;
    }

    @media (min-width: $tablet-width) {
      padding-top: 205px;
      padding-bottom: 110px;

      background-image:
        url("../img/iphone-hand-tablet@1x.png"),
        url("../img/bg-back-tablet@1x.jpg");
      background-position:
        right -20px bottom,
        center top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/iphone-hand-tablet@2x.png"),
          url("../img/bg-back-tablet@2x.jpg");
        background-size:
          700px auto,
          1200px auto;
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: 220px;
      padding-bottom: 120px;

      background-image:
        url("../img/iphone-hand-desktop@1x.png"),
        url("../img/bg-back-desktop@1x.jpg");
      background-position:
        right bottom,
        center top;
      background-size:
        auto,
        100%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/iphone-hand-desktop@2x.png"),
          url("../img/bg-back-desktop@2x.jpg");
        background-size:
          1050px auto,
          2560px auto;
      }
    }
  }
}

.banner__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    @include columns;
  }
}

.banner__column {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.banner__slogan {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    padding: 0 55px;

    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
    padding: 0 35px;

    font-size: 50px;
    line-height: 60px;
  }
}

.banner__download {
  margin: 0;
  margin-bottom: 17px;

  text-align: center;
  font-family: $font-main;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.banner__download-btn {
  padding: 15px 25px;
  width: 100%;

  border: 3px solid #ffffff;
  border-radius: 30px;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    background-color: #ffffff;
  }

  &:active {
    color: transparentize($color-prime, 0.7);
  }
}

.banner__vendors {
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.banner__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 13px;

  @media (min-width: $tablet-width) {
    padding: 51px 45px;
  }
}

.banner__text {
  margin: 0;

  text-align: center;
}
