.btn {
  box-sizing: border-box;
  display: inline-block;

  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: none;

  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;

  &--submit {
    padding: 16px;
    width: 100%;

    background-color: #2aab6d;

    &:hover,
    &:focus,
    &:active {
      background-color: #1c9b5e;
      outline: none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      background-color: $color-field-border;
    }
  }
}
