.contacts {
  @include container;

  padding-top: 45px;

  text-align: center;
  color: $color-second;
  font-size: 24px;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 300;

  @media (min-width: $desktop-width) {
    padding-top: 65px;
  }
}

.contacts__text {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 45px;
    width: 465px;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;

    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__list {
  @include list-reset;

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }
}

.contacts__item {
  margin-bottom: 25px;

  &:first-child {
    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--mail {
    @media (min-width: $desktop-width) {
      order: 3;
    }
  }

  &--location {
    @media (min-width: $desktop-width) {
      order: 2;
    }
  }

  @media (min-width: $tablet-width) {
    flex-basis: 300px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__title {
  display: block;
  margin: 0;
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 21px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.contacts__content {
  margin: 0;

  color: $color-prime;
  font-size: 24px;
  font-weight: 300;
}

.contacts__link {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.contacts__map {
  position: relative;

  margin: 0 -20px;
  height: 200px;

  background: $color-bg-even url("../img/bg-map-mobile@1x.png") no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    height: 372px;

    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 700px auto;
    }
  }

  @media (min-width: $desktop-width) {
    height: 500px;

    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 35px;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $tablet-width) {
      height: 70px;
    }

    @media (min-width: $desktop-width) {
      height: 105px;
    }
  }
}
