.features {
  padding-top: 80px;
  padding-bottom: 320px;

  text-align: center;
  color: $color-second;
  font-size: $fz-main;
  line-height: 24px;
  font-family: $font-main;
  font-weight: 400;

  background: $color-bg-even url("../img/iphone-screen-mobile@1x.png") no-repeat center bottom -40px;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    padding-bottom: 40px;

    text-align: left;

    background-position: left 20px bottom -40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 65px;

    background: $color-bg-even;
  }
}

.features__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    @include columns;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.features__column {
  @media (min-width: $tablet-width) {
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.features__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0 30px;
    padding-top: 355px;
    width: 240px;

    text-align: center;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 10px;

  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-family: $font-main;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 30px;
  }
}

.features__text {
  margin: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.features__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    @include columns;

    margin-bottom: 35px;
  }
}

.features__research {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    box-sizing: border-box;
    padding-top: 95px;
    padding-left: 365px;
    padding-bottom: 45px;
  }
}

.features__link {
  color: $color-prime;
  font-size: 18px;
  line-height: $lh-main;
}
