.features {
  padding-top: 80px;
  padding-bottom: 320px;

  text-align: center;
  color: $color-second;
  font-size: $fz-main;
  line-height: 24px;
  font-family: $font-main;
  font-weight: 400;

  background-color: $color-bg-even;
  background-image:
    url("../img/iphone-screen-mobile@1x.png"),
    url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position:
    center bottom -40px,
    top center;
  background-size:
    auto,
    100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/iphone-screen-mobile@2x.png"),
      url("../img/bg-triangle-white.svg");
    background-size:
      157px auto,
      auto;
  }

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    padding-bottom: 44px;

    text-align: left;

    background-image:
      url("../img/iphone-screen-3-tablet@1x.png"),
      url("../img/bg-triangle-white.svg");
    background-position:
      left 20px bottom,
      top right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/iphone-screen-3-tablet@2x.png"),
        url("../img/bg-triangle-white.svg");
      background-size:
        268px auto,
        auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 65px;

    line-height: 30px;
    font-size: 18px;

    background: $color-bg-even;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.features__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    @include columns;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.features__column {
  @media (min-width: $tablet-width) {
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.features__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0 30px;
    padding-top: 358px;
    width: 240px;

    text-align: center;

    background-repeat: no-repeat;
    background-position: top center;

    &:first-child {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &:nth-child(2) {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &:nth-child(3) {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }
}

.features__title {
  margin: 0;
  margin-bottom: 13px;

  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-family: $font-main;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 30px;
  }
}

.features__text {
  margin: 0;
}

.features__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    @include columns;
  }
}

.features__line {
  @media (min-width: $tablet-width) {
    white-space: nowrap;
  }
}
