.form {
  @include prime-text;

  overflow: hidden;
}

.form__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__section {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding: 0 55px;
    padding-bottom: 0;

    border: 2px solid $color-field-border;
  }

  &--name {
    @media (min-width: $tablet-width) {
      order: 1;
      padding-left: 0;
      padding-right: 0;

      border: none;
    }
  }

  &--achievements {
    @media (min-width: $tablet-width) {
      order: 4;
      padding-bottom: 50px;
    }
  }

  &--contacts {
    padding-top: 30px;

    @media (min-width: $tablet-width) {
      order: 3;
      padding-top: 0;
    }
  }

  &--app {
    @media (min-width: $tablet-width) {
      order: 2;
      padding-bottom: 60px;
    }
  }

  &--emodzi {
    @media (min-width: $tablet-width) {
      order: 5;
      margin-bottom: 65px;
      padding-bottom: 50px;
    }
  }

  &:nth-of-type(2n) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -9999px;
      top: 0;
      right: -9999px;
      bottom: 0;
      z-index: -1;

      height: 100%;
      background-color: $color-bg-even;

      @media (min-width: $tablet-width) {
        background-color: transparent;
      }
    }
  }

  &:first-of-type {
    padding-top: 0;
  }
}

.form__title {
  margin-bottom: 40px;
  padding-top: 40px;

  color: $color-prime;
  font-size: $fz-main;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  &--mobile-hidden {
    @include mobile-hidden;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }

  &--emodzi {
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }
}

.form__field {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    @include columns;

    align-items: center;
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }
  }
}

.form__check {
  @include prime-text;

  margin: 0;
  margin-bottom: 50px;

  font-size: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  display: block;
  padding-left: 20px;

  color: $color-prime;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 20px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }
}

.form__input {
  @include input;

  padding: 15px 20px;

  color: $color-second;
  font-size: 18px;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 400;

  border: 2px solid $color-field-border;

  &--contacts {
    @media (min-width: $tablet-width) {
      order: 1;
      margin-bottom: 10px;
    }
  }
}

.form__text {
  @include input;

  margin-bottom: 10px;
  padding: 15px 20px;
  height: 200px;

  color: $color-second;
  font-size: 18px;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 400;

  resize: none;
  border: 2px solid $color-field-border;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__button {
  @include prime-text;

  margin: 0;
  margin-bottom: 35px;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    width: 300px;
  }
}

.form__legend {
  @include prime-text;

  display: block;
  margin-bottom: 15px;

  text-align: center;
  text-transform: uppercase;
}

.form__index {
  color: $color-prime;
}

.form__columns {
  @media (min-width: $tablet-width) {
    @include columns;

    order: 6;
  }
}
