.form {
  @include prime-text;

  overflow: hidden;
}

.form__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__section {
  margin: 0;
  padding: 0;
  padding-bottom: 43px;

  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    padding: 0 58px;
    padding-bottom: 0;

    border: 2px solid $color-field-border;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &--name {
    @media (min-width: $tablet-width) {
      order: 1;
      padding-left: 0;
      padding-right: 0;

      border: none;
    }

    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 435px;
    }
  }

  &--achievements {
    padding-bottom: 47px;

    @media (min-width: $tablet-width) {
      order: 4;
      margin-bottom: 57px;
      padding-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 60px;
    }
  }

  &--contacts {
    padding-top: 32px;

    @media (min-width: $tablet-width) {
      order: 3;
      margin-bottom: 57px;
      padding-top: 0;
      padding-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 10px;
    }
  }

  &--app {
    padding-bottom: 47px;

    @media (min-width: $tablet-width) {
      order: 2;
      margin-bottom: 57px;
      padding-bottom: 59px;
    }

    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      padding-left: 30px;
      padding-right: 30px;
      width: 435px;
    }
  }

  &--emodzi {
    padding-bottom: 29px;

    @media (min-width: $tablet-width) {
      order: 5;
      margin-bottom: 68px;
      padding-bottom: 51px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 43px;
    }
  }

  &:nth-of-type(2n) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -9999px;
      top: 0;
      right: -9999px;
      bottom: 0;
      z-index: -1;

      height: 100%;
      background-color: $color-bg-even;

      @media (min-width: $tablet-width) {
        background-color: transparent;
      }
    }
  }

  &:first-of-type {
    padding-top: 0;

    @media (min-width: $desktop-width) {
      padding-top: 13px;
    }
  }
}

.form__title {
  margin-bottom: 43px;
  padding-top: 38px;

  color: $color-prime;
  font-size: $fz-main;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    padding-top: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  &--contacts {
    @include mobile-hidden;

    @media (min-width: $tablet-width) {
      margin-bottom: 36px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 33px;
    }
  }

  &--emodzi {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-bottom: 37px;
    }
  }

  &--app {
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 48px;
    }
  }
}

.form__field {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    @include columns;

    align-items: center;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--contacts {
    position: relative;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      width: 375px;
    }

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        z-index: 1;
        right: 1px;
        top: 2px;

        width: 60px;
        height: 60px;

        background-color: #e5e5e5;
      }
    }
  }
}

.form__field-icon {
  @include mobile-hidden;

  position: absolute;
  z-index: 2;
  right: 22px;
  top: 23px;

  fill: $color-prime;
}

.form__check {
  @include prime-text;

  margin: 0;
  margin-bottom: 52px;

  font-size: 18px;

  @media (min-width: $desktop-width) {
    margin-right: 55px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--box {
    @media (min-width: $desktop-width) {
      width: 260px;
    }

    &:nth-last-child(-n+2) {
      @media (min-width: $desktop-width) {
        margin-right: 0;
        width: 210px;
      }
    }

    &:nth-child(6n+3),
    &:nth-child(6n+4) {
      @media (min-width: $desktop-width) {
        width: 240px;
      }
    }

    &:nth-child(2) {
      @media (min-width: $desktop-width) {
        order: 4;
        margin-bottom: 0;
      }
    }

    &:nth-child(4) {
      @media (min-width: $desktop-width) {
        order: 5;
        margin-bottom: 0;
      }
    }

    &:nth-child(6) {
      @media (min-width: $desktop-width) {
        order: 6;
        margin-right: 0;
      }
    }
  }

  &--app {
    margin-bottom: 45px;

    @media (min-width: $desktop-width) {
      margin-left: 45px;
    }
  }
}

.form__indicator {
  position: relative;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    border-color: $color-second;
  }

  &:active::before {
    border-color: $color-prime;
  }

  &--checkbox::before,
  &--radio::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    margin: auto 0;
    width: 35px;
    height: 35px;

    border: 2px solid $color-field-border;
    background-color: #ffffff;
  }

  &--radio::before {
    border-radius: 50%;
  }
}

input:checked ~ .form__indicator--checkbox::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 2px;

  width: 23px;
  height: 11px;

  border-bottom: 2px solid $color-prime;
  border-left: 2px solid $color-prime;

  transform: rotate(-45deg);
}

input:checked ~ .form__indicator--radio::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;

  margin: auto 0;
  width: 15px;
  height: 15px;

  background-color: $color-prime;
  border-radius: 50%;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 22px;

  color: $color-prime;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      order: 2;
      padding-left: 19px;
    }
  }
}

.form__input {
  @include input;

  padding: 15px 20px;

  color: $color-second;
  font-size: 18px;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 400;

  border: 2px solid $color-field-border;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-second;
    outline: none;
  }

  &:active {
    border-color: $color-prime;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      order: 1;
      margin-bottom: 10px;
    }
  }
}

.form__text {
  @include input;

  margin-bottom: 10px;
  padding: 15px 20px;
  height: 200px;

  color: $color-second;
  font-size: 18px;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 400;

  resize: none;
  border: 2px solid $color-field-border;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    height: 193px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    height: 124px;
  }
}

.form__button {
  @include prime-text;

  margin: 0;
  margin-bottom: 35px;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.form__legend {
  @include prime-text;

  display: block;
  margin-bottom: 15px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__index {
  color: $color-prime;

  &--desktop-visible {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}

.form__columns {
  @media (min-width: $tablet-width) {
    order: 6;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    @include columns;
    width: 100%;
  }

  &--submit {
    @media (min-width: $tablet-width) {
      @include columns;
    }
  }
}

.form__section-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
