.intro {
  @include prime-text;

  padding-top: 46px;
  padding-bottom: 49px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
    padding-bottom: 76px;

    font-size: 18px;

    &:nth-of-type(2) {
      padding: 65px 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 88px;
  }

  &--form {
    @media (min-width: $desktop-width) {
      padding-bottom: 65px;
    }
  }

  &:nth-of-type(2) {
    padding: 43px 0;

    @media (min-width: $tablet-width) {
      padding-top: 62px;
      padding-bottom: 71px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 56px;
      padding-bottom: 68px;
    }
  }
}

.intro__wrapper {
  @include container;
}

.intro__text {
  margin: 0 auto;
  max-width: 245px;

  @media (min-width: $tablet-width) {
    max-width: 495px;
  }

  @media (min-width: $desktop-width) {
    max-width: 640px;
  }

  &--form {
    @media (min-width: $desktop-width) {
      max-width: 800px;
    }
  }
}
