.main-nav {

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin: 0 -20px;

    border-top: 1px solid #485461;
    border-bottom: 1px solid #000001;
  }

  &__link {
    display: block;
    padding: 15px;

    font-family: $font-main;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
  }
}
