.page-header {
  padding-top: 20px;
  width: 100%;

  background-color: $color-second;
  border-bottom: 1px solid transparent;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }

  &--fixed {
    position: fixed;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__wrapper {
  @include container-fluid;

  @media (min-width: $desktop-width) {
    @include columns;

    align-items: baseline;
  }
}

.page-header__logo {
  display: block;
  margin-bottom: 25px;
}
