.page-title {
  margin: 0 auto;

  color: #ffffff;
  font-size: 24px;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 480px;

    font-size: 50px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 820px;
  }
}
