.page-title {
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 80px;

  color: #ffffff;
  font-size: 24px;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 180px;
    padding-bottom: 100px;
    max-width: 360px;

    font-size: 50px;
    line-height: 60px;
  }
}
