.page-header {
  padding-top: 20px;

  background-color: $color-second;
  border-bottom: 1px solid transparent;

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &--fixed {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__wrapper {
  @include container;

  @media (min-width: $desktop-width) {
    @include columns;

    align-items: baseline;
  }
}

.page-header__logo {
  display: block;
  margin-bottom: 25px;
}
