.page-footer {
  padding: 40px 0;

  color: $color-second;
  font-size: $fz-main;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 400;

  &--index {
    @include mobile-hidden;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0;
  }
}

.page-footer__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    @include columns;

    align-items: center;
  }
}

.page-footer__logo {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 147px;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    margin: 0;
    width: 150px;
  }
}

.page-footer__social {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 175px;

  @media (min-width: $tablet-width) {
    flex-basis: 200px;
    margin: 0;
  }
}

.page-footer__copyright {
  margin: 0 auto;
  width: 150px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    font-size: 18px;
  }
}
