.panorama {
  @include prime-text;

  margin-bottom: 20px;

  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.panorama__wrapper {
  @include container;
}

.panorama__image {
  position: relative;
  margin: 0;
}

.panorama__image-wrapper {
  position: relative;
  margin: 0 auto;
  // max-width: 1200px;

  &::after {
    content: "Панорама дня";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 20px;

    box-sizing: border-box;
    padding-top: 7px;
    width: 140px;
    height: 36px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    font-family: $font-main;
    text-align: center;

    background-color: $color-prime;

    @media (min-width: $tablet-width) {
      top: 55px;
    }
  }
}

.panorama__image-src {
  margin: 0 auto;
}

.panorama__desc {
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 20px;

  background-color: $color-bg-even;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-left: 25px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.panorama__author {
  font-weight: 700;
  font-style: normal;
}

.panorama__time {
  font-size: 12px;
  line-height: inherit;
  font-family: inherit;
  font-weight: 300;
  text-transform: uppercase;
}

.panorama__text {
  margin: 0;
  margin-bottom: 10px;
}

.panorama__like {
  color: $color-prime;
  font-size: 12px;
  line-height: inherit;
  font-family: inherit;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 15px;
    right: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 25px;
  }
}

.panorama__like svg {
  margin-right: 20px;
  vertical-align: middle;
  fill: $color-prime;
}
