.panorama {
  @include prime-text;

  &__wrapper {
    @include container;
  }

  &__desc {
    background-color: $color-bg-even;
  }

  &__author {
    font-size: $fz-main;
    line-height: 24px;
    font-family: $font-main;
    font-weight: 700;
    font-style: normal;
  }

  &__time {
    font-size: 12px;
    line-height: inherit;
    font-family: inherit;
    font-weight: 300;
    text-transform: uppercase;
  }
}
