.rates {
  position: relative;

  padding-top: 90px;
  padding-bottom: 100px;

  color: $color-second;
  font-size: $fz-main;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 400;
  text-transform: uppercase;

  background-color: $color-bg-even;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 145px;
    padding-bottom: 95px;

    font-size: 18px;
  }
}

.rates__wrapper {
  @include container;
}

.rates__content {
  width: 300%;
  transform: translate((-100%) / 3);

  @media (min-width: $tablet-width) {
    width: auto;
    transform: none;
  }
}

.rates__table {
  width: 100%;
  border-spacing: 0;
}

.rates__header {
  padding-top: 15px;
  padding-bottom: 20px;

  color: #ffffff;
  line-height: $lh-main;
  font-family: $font-main;
  text-transform: uppercase;

  background-color: $color-second;
  border: 1px solid #e5e5e5;

  &:first-child {
    @include mobile-hidden;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.rates__option {
  position: relative;

  padding: 15px 20px;
  padding-right: 70px;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 10px 15px;
    min-width: 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 25px;
  }

  &:first-child {
    @include mobile-hidden;
  }

  &--on {
    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: -10px;
      bottom: 0;

      margin: auto;
      width: 30px;
      height: 15px;

      border-left: 3px solid $color-succes;
      border-bottom: 3px solid $color-succes;

      transform: rotate(-45deg);

      @media (min-width: $tablet-width) {
        left: 0;
        right: 0;
      }
    }
  }

  &--off {
    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 12px;
      top: 0;
      bottom: 0;

      margin: auto;
      width: 37px;
      height: 3px;

      background-color: $color-fail;

      @media (min-width: $tablet-width) {
        left: 0;
        right: 0;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.rates__title {
  display: block;
  margin-bottom: 5px;

  color: inherit;
  font-size: 18px;
  line-height: inherit;
  font-family: inherit;
  font-weight: 700;
  text-transform: inherit;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.rates__option-title {
  @include mobile-visible;
}

.rates__price {
  display: block;

  color: inherit;
  font-size: 24px;
  line-height: inherit;
  font-family: inherit;
  font-weight: 300;
  text-transform: inherit;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.rates__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
