.reviews {
  @include container;

  color: $color-second;
  font-size: $fz-main;
  line-height: $lh-main;
  font-family: $font-main;
  font-weight: 400;

  &__title {
    color: #000000;
    font-size: 18px;
    line-height: $lh-main;
    font-family: $font-main;
    font-weight: 700;
    font-style: normal;
  }
}
