.slider {
  overflow: hidden;
}

.slider__toggles {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;

  margin: 0 auto;
  width: 80px;

  font-size: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle {
  position: relative;

  box-sizing: content-box;
  margin-right: 20px;
  padding: 0;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: #bec2c7;

  &--active {
    background-color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -2px;

      margin: auto;
      width: 6px;
      height: 6px;

      border: 3px solid $color-second;
      border-radius: 50%;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.slider__list {
  @include list-reset;

  display: flex;
}

.slider__item {
  min-width: 100%;
}

.slider__control {
  position: absolute;
  top: 200px;

  width: 22px;
  height: 41px;

  opacity: 0.3;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--left {
    left: 16px;
  }

  &--right {
    right: 16px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 30px;
    height: 2px;

    background-color: #bec2c7;
  }

  &--right::before {
    top: 19px;
    right: 0;

    transform: rotate(45deg);
  }

  &--right::after {
    right: 0;

    transform: rotate(-45deg);
  }

  &--left::before {
    top: 19px;
    left: 0;

    transform: rotate(-45deg);
  }

  &--left::after {
    left: 0;

    transform: rotate(45deg);
  }
}
