.user-post {
  position: relative;

  padding-top: 20px;
  padding-bottom: 40px;

  background-color: $color-bg-even;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -20px;
    right: -20px;

    background-color: $color-bg-even;

    @media (min-width: $desktop-width) {
      left: 0;
      right: 0;
    }
  }
}

.user-post__wrapper {
  @include container;
}

.user-post__form {
  @media (min-width: $tablet-width) {
    @include columns;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 60px;
  }
}

.user-post__image {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 300px;
  }
}

.user-post__column {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 18px;
    width: 255px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.user-post__edit {
  position: relative;

  margin-bottom: 38px;
  padding-bottom: 47px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    right: -20px;

    height: 1px;
    background-color: $color-field-border;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    padding-bottom: 39px;
  }
}

.user-post__filters {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 35px;
  padding-right: 45px;

  font-size: 0;

  @media (min-width: $tablet-width) {
    padding-left: 3px;
    padding-right: 0;
  }
}

.user-post__filter {
  position: relative;

  display: inline-block;
  vertical-align: middle;

  &--cut {
    margin-right: 35px;
    width: 44px;
    height: 44px;
  }

  &--fill {
    margin-right: 40px;
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: 0;
      right: -20px;
      left: 0;

      height: 1px;
      background-color: #b5b9be;
    }

    @media (min-width: $desktop-width) {
      right: 0;
    }
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      margin-top: -15px;
    }
  }

  @media (min-width: $tablet-width) {
    @include columns;

    align-items: center;
    width: 100%;
    height: 71px;
  }
}

.user-post__filter-btn {
  opacity: 0.3;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
    fill: $color-prime;
  }
}

.user-post__filter-icon {
  &--cut {
    width: 44px;
    height: 44px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      width: 22px;
      height: 22px;
    }
  }

  &--fill {
    width: 48px;
    height: 43px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      width: 24px;
      height: 22px;
    }
  }

  &--contrast {
    width: 32px;
    height: 32px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      width: 16px;
      height: 16px;
    }
  }
}

.user-post__filter--active .user-post__filter-btn {
  opacity: 1;
  fill: $color-prime;
}

.user-post__input-range {
  @include mobile-hidden;

  @media (min-width: $tablet-width) {
    width: 200px;
  }
}

.user-post__filter--active .user-post__input-range {
  @media (max-width: $mobile-only-width) {
    position: absolute;
    top: 84px;
    left: -20px;

    display: block;
    width: 240px;
  }
}

.user-post__input-scale {
  width: 100%;
  height: 2px;

  background-color: $color-second;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    width: 200px;
  }

  @media (min-width: $desktop-width) {
    right: 30px;

    width: 290px;
  }
}

.user-post__input-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 193px;

  margin: auto 0;
  width: 10px;
  height: 10px;

  border: 2px solid $color-prime;
  border-radius: 50%;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    left: 160px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-prime;
    cursor: pointer;
  }

  &--fill {
    @media (min-width: $tablet-width) {
      left: 75px;
    }

    @media (min-width: $desktop-width) {
      left: 336px;
    }
  }

  &--contrast {
    @media (min-width: $tablet-width) {
      left: 146px;
    }

    @media (min-width: $desktop-width) {
      left: 249px;
    }
  }
}

.user-post__controls {
  @media (min-width: $tablet-width) {
    margin-right: -5px;
  }
  @media (min-width: $desktop-width) {
    @include columns;
  }
}

.user-post__submit {
  margin: 0;
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 700;
  color: $color-prime;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 185px;
  }
}

.user-post__submit-btn {
  padding: 15px;
  width: 100%;

  border: 3px solid $color-prime;
  border-radius: 28px;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: $color-prime;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.user-post__reset {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 700;
  color: $color-second;

  @media (min-width: $desktop-width) {
    width: 185px;
  }
}

.user-post__reset-btn {
  padding: 15px;
  width: 100%;

  border: 3px solid $color-second;
  border-radius: 28px;
  opacity: 0.1;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.3;
  }

  &:active {
    color: #ffffff;
    background-color: $color-second;
  }
}
