.user-post {
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: $color-bg-even;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }
}

.user-post__wrapper {
  @include container;
}

.user-post__form {
  @media (min-width: $tablet-width) {
    @include columns;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 60px;
  }
}

.user-post__image {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 300px;
  }
}

.user-post__column {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }
}

.user-post__edit {
  position: relative;
  margin-bottom: 40px;
  border-bottom: 1px solid transparent;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
  }
}

.user-post__filters {
  margin: 0;
  margin-bottom: 40px;
}

.user-post__controls {
  @media (min-width: $desktop-width) {
    @include columns;
  }
}

.user-post__submit {
  margin: 0;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 700;
  color: $color-prime;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
  }
}

.user-post__submit-btn {
  padding: 15px;
  width: 100%;

  border: 3px solid $color-prime;
  border-radius: 28px;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: $color-prime;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.user-post__reset {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 700;
  color: $color-second;

  @media (min-width: $desktop-width) {
    width: 185px;
  }
}

.user-post__reset-btn {
  padding: 15px;
  width: 100%;

  border: 3px solid $color-second;
  border-radius: 28px;
  opacity: 0.1;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.3;
  }

  &:active {
    color: #ffffff;
    background-color: $color-second;
  }
}
