.user-post {
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: $color-bg-even;
}

.user-post__wrapper {
  @include container;
}

.user-post__image {
  margin: 0;
  margin-bottom: 40px;
}

.user-post__edit {
  position: relative;
  margin-bottom: 40px;
  border-bottom: 1px solid transparent;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    right: -20px;

    height: 1px;

    background-color: $color-second;
    opacity: 0.1;
  }
}

.user-post__filters {
  margin: 0;
  margin-bottom: 40px;
}

.user-post__submit {
  margin: 0;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 700;
  color: $color-prime;
}

.user-post__submit-btn {
  padding: 15px;
  width: 100%;

  border: 3px solid $color-prime;
  border-radius: 28px;
}

.user-post__reset {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-family: $font-main;
  font-weight: 700;
  color: $color-second;

  opacity: 0.1;
}

.user-post__reset-btn {
  padding: 15px;
  width: 100%;

  border: 3px solid $color-second;
  border-radius: 28px;
}
